/* border-box hack */
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* chef aquino's special sauce */
html, body { margin: 0; padding: 0; height: 100%; width: 100%;
    font-family: Geneva, Arial, sans-serif;
    background-color: #008000;
}

.App {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.OathButton {
  padding: 20px;
  font-size: 50px;
}

.playlist {
  width: 25%; 
  display: inline-block;
  padding: 10px;
}

.albumCover {
  width: 60px;
}

.hoursCounter {
  width: 40%; 
  display: inline-block;
}

.playlistCounter {
  width: 40%; 
  display: inline-block;
}